
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-image: url(./flywheel.jpeg);
    height: 12em;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    background-color: aqua;
    
}
header h1{
    padding-top: 1em;
}
.headerContainer{
    position: absolute;
}
nav ul{
    display: flex;
    list-style: none;
    width: 70em;
    justify-content: space-around;
    padding-top: 3em;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    text-align: center;


}
nav ul li{
    border: 1px solid black;
    width: 8em;
    height: 2em;
    border-radius: 0.4em;
    border: none;
    background-color: rgb(179, 188, 196);
}
section{
    background-color: #fff;
    padding-top: 2em;

}
section h2{
    color: rgb(0, 0, 0);
    padding-left: 0.8em;

}
section p{
    font-size: 1.2em;
    padding-left: 1em;
}
.imageSection{
    border: 1px solid rgb(81, 129, 77);
    display: grid;
    grid-template-rows: auto;
    width: 23em;
    background-color:rgb(81, 129, 77) ;

}
.imageSection img{
    width: 15em;
    margin: 0 auto;
    padding: 1em;
}
.mainSection{
    display: flex;
    
}
table{
    width: 70%;
}
nav ul li :active{
    color: rgb(49, 19, 77);
    
}

nav ul li:hover{
    background-color: rgb(234, 241, 239);
}
table{
    margin-left: 10em;
    line-height: 2;
    margin-top: 2em;
    font-weight: bold;
    font-style: normal;
}
td{
    border: 1px solid gb(197, 235, 139);
    background-color: rgb(197, 235, 139);
    opacity: 0.6;
    font-weight: 300;
}
td:hover{
    opacity: 1;
}

td:nth-child(2){
    text-align: center;
}

td:last-child{
    text-align: center;
}

th{
    border: 2px solid rgb(10, 158, 10);
    background: linear-gradient(90deg, rgb(178, 226, 175) 0%, rgba(83,178,105,1) 25%, rgba(67,190,98,1) 34%, rgba(63,193,96,1) 36%, rgba(46,207,88,1) 46%, rgba(37,214,84,1) 51%, rgba(21,226,76,1) 60%, rgba(9,236,70,1) 67%, rgba(0,212,255,1) 100%);;
    color: #fff;
    border-radius: 0.15em;
}
